<div class="flex space-x-4 mb-6">

  <app-shared-button class="bg-blue-600 hover:bg-blue-700 rounded-md" (click)="filterChangeHandler('upcoming')">Upcoming
    Events
  </app-shared-button>
  <app-shared-button class="bg-yellow-600 hover:bg-yellow-700 rounded-md" (click)="filterChangeHandler('past')">Past
    Events
  </app-shared-button>
  <app-shared-button class="bg-purple-600 hover:bg-purple-700 rounded-md" (click)="filterChangeHandler('ongoing')">
    Ongoing
    Events
  </app-shared-button>
  <app-shared-button class="bg-lime-600 hover:bg-lime-700 rounded-md" (click)="filterChangeHandler('all')">All Events
  </app-shared-button>
</div>
